.Navbar {
  background: rgb(16, 16, 16);
  background: linear-gradient(
    202deg,
    rgba(16, 16, 16, 1) 25%,
    rgba(9, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.carousel {
  width: 100%;
  z-index: 0;
  opacity: 90%;
}
.carousel-item > img {
  height: 500px;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}

.banner {
  background-repeat: no-repeat;
  border-radius: 5px;
  height: 500px;
  overflow: hidden;
}

.movies > .img {
  width: 140px;
  height: 210px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  border-radius: 8px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: black;
}

.movies > .img:hover {
  transform: scale(1.1);
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}
.movies > .img > .overlay {
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-size: small;
  font-weight: 500;
}
.banner > h1 {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 280px;
  background-position: center;
  background-size: contain;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: url("https://th.bing.com/th/id/R.2d463f54bf6c4896262523ccf5cc37aa?rik=D93XUaqP1aWPcg&riu=http%3a%2f%2fhdqwalls.com%2fdownload%2f1%2fstar-wars-poster-4k-af.jpg&ehk=B9%2bYUiycUOPfxKNEplH6vJ%2bY6QWIUK6qTAuGRWWWttA%3d&risl=1&pid=ImgRaw&r=0");
  -webkit-text-stroke-width: 7px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  z-index: 1;
}
.overflow-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
thead > tr > th {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
}
input::placeholder {
  font-family: "Spicy Rice", serif;
  letter-spacing: 5px;
  word-spacing: 8px;
}
.allgenres {
  font-family: "Spicy Rice", serif;
}
.Home,
.Watchlist {
  font-family: "Spicy Rice", serif;
  letter-spacing: 2px;
  color: black;
}
.trendingmovies {
  font-family: "Spicy Rice", serif;
  letter-spacing: 2px;
  color: black;
  margin-top: 20px;
}
.pagination {
  font-family: "Spicy Rice", serif;
  letter-spacing: 2px;
  color: white;
  font-size: larger;
  background: rgb(16, 16, 16);
  background: linear-gradient(
    202deg,
    rgba(16, 16, 16, 1) 25%,
    rgba(9, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.watchlistitems {
  color: white;
  background: rgb(49, 0, 112);
  background: linear-gradient(
    90deg,
    rgba(49, 0, 112, 1) 0%,
    rgba(120, 56, 170, 1) 62%,
    rgba(132, 54, 158, 1) 100%,
    rgba(253, 29, 29, 1) 100%,
    rgba(252, 176, 69, 1) 100%
  );
}
.homepage {
  background: rgb(16, 16, 16);
  background: linear-gradient(
    202deg,
    rgba(16, 16, 16, 1) 25%,
    rgba(9, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
@media (max-width: 1000px) {
  .pagination {
    font-family: "Spicy Rice", serif;
    letter-spacing: 2px;
    color: white;
    font-size: larger;
    background: rgb(16, 16, 16);
    background: linear-gradient(
      202deg,
      rgba(16, 16, 16, 1) 25%,
      rgba(9, 9, 121, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  .homepage {
    background: rgb(16, 16, 16);
    background: linear-gradient(
      202deg,
      rgba(16, 16, 16, 1) 25%,
      rgba(9, 9, 121, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  input::placeholder {
    font-family: "Spicy Rice", serif;
    letter-spacing: 5px;
    word-spacing: 8px;
  }
  thead > tr > th {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
  }
  .carousel {
    width: 100%;
    z-index: 0;
    opacity: 90%;
  }
  .carousel-item > img {
    height: 250px;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
  }

  .banner {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 250px;
  }
  .banner > h1 {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;
    font-size: 100px;
    background-position: center;
    background-size: contain;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: url("https://th.bing.com/th/id/R.2d463f54bf6c4896262523ccf5cc37aa?rik=D93XUaqP1aWPcg&riu=http%3a%2f%2fhdqwalls.com%2fdownload%2f1%2fstar-wars-poster-4k-af.jpg&ehk=B9%2bYUiycUOPfxKNEplH6vJ%2bY6QWIUK6qTAuGRWWWttA%3d&risl=1&pid=ImgRaw&r=0");
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);

    z-index: 1;
  }
  .overflow-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .deletebtn {
    display: none;
  }

  .deletebtn1::after {
    content: "X";
    margin: 2px;
    color: red;
    font-weight: 500;
  }
}
